html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 0px 5px 0px;
  gap: 25px;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, auto);
  grid-template-rows: repeat(16, auto);
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
}

.mouseover {
  background-color: #000;
}
